footer {
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
    width: 110%;
    margin-top: 50%;
    height: 100px;
    font: Roboto, sans-serif;
    font-size: 18px;
  }